/*
Feuille de style génrale
*/

* {
    list-style-type: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    --white: white;
    --black: black;
    --white-low-opacity: rgba(255, 255, 255, 0.295);
    --grey: rgb(65, 65, 65);
    --light-grey: rgb(196, 196, 196);
    --lighter-grey: rgb(90, 90, 90);
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--white);
}

/*
Navigation -----------------------------------
*/

.nav__bar {
    background-color: var(--black);
    color: var(--white);
}

.nav__bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
}

.icons {
    display: flex;
}

.nav__bar a {
    color: var(--white);
}

.nav__bar a:link {
    text-decoration: none;
}

.nav__bar ul li {
    padding: 10px 30px;
    transition: .3s;
    border-radius: 10px;
}

.nav__bar ul li:hover {
    background-color: var(--grey);
    color: var(--white);
    transition: .3s;
}

.nav__bar2 {
    background-color: var(--grey);
    color: var(--white);
}

.nav__bar2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;
}

.nav__bar2 ul li {
    padding: 5px 30px;
    transition: .3s;
    border-radius: 10px;
}

.nav__bar2 ul li:hover {
    background-color: var(--black);
    color: var(--white);
    transition: .3s;
}

/*
Contenu -----------------------------------
*/

/*
Caroussels 
*/

.container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    color: var(--grey);
    flex-grow: 1;
}

.section1 {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
}

.section1 h4 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 40px;
    padding-bottom: 30px;
}

.content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content__item:hover {
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
}

.content__item img {
    width: 200px;
}

.content__item label {
    padding: 10px 10px;
}

/*
Article du jour
*/

.section2 {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.section2 h4 {
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.item label {
    padding: 30px 30px;
}

.item img {
    width: 400px;
}

/*
Animation couleur texte
*/

.container h2 {
    text-align: center;
    animation: Color 8s linear infinite;
    -webkit-animation: Color 8s ease-in-out infinite;
}

@keyframes Color {
    0% {
        color: #68d46d;
    }

    20% {
        color: #68d4b9;
    }

    40% {
        color: #6878d4;
    }

    60% {
        color: #68d4b9;
    }

    80% {
        color: #68d46d;
    }

    100% {
        color: #99d468;
    }
}

@-moz-keyframes Color {
    0% {
        color: #68d46d;
    }

    20% {
        color: #68d4b9;
    }

    40% {
        color: #6878d4;
    }

    60% {
        color: #68d4b9;
    }

    80% {
        color: #68d46d;
    }

    100% {
        color: #99d468;
    }
}

@-webkit-keyframes Color {
    0% {
        color: #68d46d;
    }

    20% {
        color: #68d4b9;
    }

    40% {
        color: #6878d4;
    }

    60% {
        color: #68d4b9;
    }

    80% {
        color: #68d46d;
    }

    100% {
        color: #99d468;
    }
}

/*
Pied de page -----------------------------------
*/

footer {
    text-align: center;
    padding: 10px 30px;
    background-color: var(--grey);
    color: var(--white);
}

.informations ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 30px;
}

.informations ul li ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: smaller;
}

.informations ul li {
    position: relative;
    left: -25px;
}

/*
Scrollbar -----------------------------------
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--lighter-grey);
}

/*
Formulaire -----------------------------------
*/

.form {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px 100px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 20px;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    gap: 20px;
}

.form input {
    width: 100%;
    padding: 6px 0px;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    margin: 8px 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

.buttons button:first-child {
    transition: .3s;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    padding: 6px 16px;
    color: var(--white);
}

.buttons button:last-child {
    transition: .3s;
    background-color: #a42e2e;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    padding: 6px 16px;
    color: var(--white);
}

.buttons button:hover {
    transition: .3s;
    transform: scale(1.1);
}

/*
Profile
*/

.logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

.logout button {
    transition: .3s;
    background-color: #a42e2e;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    padding: 6px 16px;
    color: var(--white);
}

.logout button:hover {
    transition: .3s;
    transform: scale(1.1);
}